name: Auto Merge CDN
on:
  push:
    branches:
      - 'cdn/*'

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set Git Identity
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: merge-branch
        uses: devmasx/merge-branch@master
        with:
          type: now
          from_branch: ${{ github.ref_name }}
          target_branch: 'main'
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete origin branch
        if: success()
        run: |
          echo "Merging successful, deleting branch ${{ github.ref_name }}..."
          gh api -X DELETE /repos/${{ github.repository }}/git/refs/heads/${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}